/* Error: From line 27, column 1 of scss\utilities\_base.scss: 
 *    ╷
 * 27 │ %flexcolum {
 *    │ ^^^^^^^^^^^
 *    ╵
 * You may not @extend selectors across media queries.
 *    ,
 * 71 |         @extend%flexcolum;
 *    |         ^^^^^^^^^^^^^^^^^
 *    '
 *   scss\mediaqueries\_mediaqueries.scss 71:9  @import
 *   scss\style.scss 7:9                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: From line 27, column 1 of scss\\utilities\\_base.scss: \a    \2577 \a 27 \2502  %flexcolum {\d\a    \2502  ^^^^^^^^^^^\a    \2575 \aYou may not @extend selectors across media queries.\a    \2577 \a 71 \2502          @extend%flexcolum;\d\a    \2502          ^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\mediaqueries\\_mediaqueries.scss 71:9  @import\a   scss\\style.scss 7:9                        root stylesheet";
}
