@import "utilities/base";
@import "layout/general";
@import "layout/sobrenosotros";
@import "layout/servicios";
@import "layout/galeria";
@import "layout/contacto";
@import "mediaqueries/mediaqueries";


// Section Styles
.seccion1 {
  @extend%flexrow;
  padding: 10px;
}

  .seccion1banner {
    @extend%flexcolum;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
  }

  p {
    text-indent: 2rem;
  }

  img {
    width: 40%;
    height: 405px;
    margin: 5px;
    @include border-radius;
  }


.indentado {
  text-indent: 2rem;
}

.seccion2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  text-align: center;
  padding: 15px;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    @include border-radius;
  }

  p {
    display: inline-block;
    color: $secondary-color;
    font-size: x-large;
    padding: 0 5px;
    margin: 2px;
    border: 1px solid black;
    @include box-shadow;
    @include border-radius;
    background-color: $primary-color;
  }
}

// Carousel and Images
.carousel {
    z-index: 1;
  }

.bg-image {
    background-image: url(../assets/nuestroequipo.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
  }

  .text-white {
    color: #fff;
  }

// Image Container
.container {
  .image-container {
    position: relative;
    width: 100%;
    @include border-radius;
    margin-top: 5px;
    overflow: hidden;

    .banner2 {
      width: 100%;
      height: 50vh;
      object-fit: cover;
      display: block;
    }

    p {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      width: 100%;
      text-align: center;
    }
  }
}