* {
  margin: 0;
  padding: 0;
}

$color-primario: #401919;
$color-secundario: #8c603b;
$color-fondo: #f2f2f2;
$color-texto: #401a19;
$color-sombra: rgba(0, 0, 0, 0.4);
$color-blanco: #fff;
$fuente-principal: "Montserrat", sans-serif;
$fuente-secundaria: "Open Sans", sans-serif;
$border-radius: .25rem;
$box-shadow: 3px 3px 6px $color-sombra;
