* {
    margin: 0;
    padding: 0;
  }

// Variables
$primary-color: #8c603b;
$secondary-color: #401919;
$background-color: #f2f2f2;
$border-radius: 0.25rem;
$box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
$text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
// Mixins
@mixin box-shadow {
    box-shadow: $box-shadow;
  }
main {
  background-color: linear-gradient (left, right , #f2f2f2, #8c603b)
}
  
@mixin border-radius {
    border-radius: $border-radius;
  }

%flexrow {
  display: flex;
  flex-direction: row
}

%flexcolum {
  display: flex;
  flex-direction: column;
}