// Buttons
.botonformulario {
    background-color: $primary-color;
    border-color: $secondary-color;
  }
  
  .btn {
    background-color: $primary-color;
    text-align: center;
    border-color: #401a19;
    color: #401a19;
  
    &:hover {
      background-color: $secondary-color;
      border-color: $primary-color;
      color: $primary-color;
    }
  }