#logo {
  width: $tamano-logo;
  height: $tamano-logo;
  border-radius: 50%;
  margin: 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  a {
    text-decoration: none;
    color: black;
  }
  ul {
    display: flex;
    list-style: none;
    .inline {
      padding: 5px;
      border: 1px solid black;
      border-radius: $border-radius;
      background-color: $color-fondo;
      box-shadow: $box-shadow;
    }
  }
}

a {
  color: black;
}
