// layout/_general.scss

#logo {
  width: $tamano-logo;
  height: $tamano-logo;
  border-radius: 50%;
  margin: 10px;
}

.menu {
  color: $color-primario;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10px;
  border-radius: .25px;

  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    .inline {
      padding: 0 5px;
      margin: 2px;
      border: 1px solid black;
      border-radius: $border-radius;
      background-color: $color-fondo;
      display: inline-block;
      box-shadow: $box-shadow;
    }
  }
}

#sticky {
  background-color: $color-secundario;
  position: sticky;
  left: 0;
  top: 2px;
  z-index: 1000;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  @include sombra;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  img {
    width: 35px;
    height: 35px;
  }
}

footer {
  background-color: $color-secundario;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
}

.text-white {
  color: $color-blanco;
}
