#sticky {
  background-color: #8c603b;
  position: sticky;
  top: 2px;
  left: 0;
  z-index: 1000;
}

.menu {
  color: #401919;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.menu ul {
  list-style: none;
}

.menu ul .inline {
  padding: 0 5px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 0.25rem;
  background-color: #f2f2f2;
  display: inline-block;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

#logo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 10px;
}

footer {
  display: flex;
  background-color: #8c603b;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-around;
  flex-flow: row wrap;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.whatsapp-button img {
  width: 35px;
  height: 35px;
}
