//servicios//
.serv {
    text-align: center;
    padding: 20px;
  }
  
  .servp {
    padding: 20px;
    text-align: justify;
    color: $secondary-color;
  }
  
  .servicios {
    @extend%flexrow;
    justify-content: space-around;
    flex-wrap: wrap;
    
    .serv1 {
      flex: 1 1 45%;
      padding: 10px;
      img {
        width: 98%;
        height: 95%;
        @include border-radius;
        @include box-shadow;
      }
    }
  
    .serv2 {
      flex: 1 1 45%;
      padding: 10px;
      img {
        width: 98%;
        height: 95%;
        @include border-radius;
        @include box-shadow;
      }
    }
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .shadow-lg {
    @include box-shadow;
  }
  
  .serv4 {
    padding: 20px;
    text-align: center;
  
    h2 {
      color: $secondary-color;
      font-weight: bold;
      padding-bottom: 15px;
    }
  
    .image-container {
      position: relative;
      width: 100%;
      @include border-radius;
      margin-top: 15px;
      overflow: hidden;
  
      .banner2 {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        display: block;
        @include box-shadow;
      }
  
      p {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
        width: 100%;
        text-align: center;
        font-size: 1rem;
      }
    }
  }
  
  .serv3 {
    padding: 20px;
  
    h2 {
      color: $secondary-color;
      text-align: center;
      font-weight: bold;
      padding-bottom: 10px;
    }
  
    p {
      text-align: justify;
      padding: 20px;
      color: $secondary-color;
      background-color: $background-color;
      @include border-radius;
      @include box-shadow;
    }
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }