@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 15px;
  }

  .seccion1, .seccion1banner {
    flex-direction: column;
    padding: 10px;
    text-align: center;
    img {
      width: 100%;
      margin-top: 10px;
    }
  }

  footer {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}

@media (max-width: 576px) {
  #sticky {
    position: sticky;
    z-index: 1000;
  }

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  
  h1 {
    margin: 0;
    font-size: 1.5rem;
    flex-grow: 1;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar-colapse {
    width: 100%;
  }

  .nav-link {
    text-align: center;
  }

  .seccion1, .seccion1banner {
    flex-direction: column;
    padding: 10px;
    text-align: center;
    img {
      width: 100%;
      margin-top: 10px;
    }
  }

  .serv {
    padding: 10px;
    .servicios {
      flex-direction: column;
      align-items: center;
      justify-items: center;
    }
    .serv1, .serv2 {
      width: 100%;
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
  }

  .serv3 p {
    padding: 10px;
  }

  .image-container {
    width: 100%;
    overflow: hidden;
    img .banner2 {
      width: 100%;
      height: 50vh;
      object-fit: cover;
    }
    p {
      width: 100%;
      padding: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.4);
      text-align: center;
    }
  }
  
  .gridserv .grid-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center
}

  .seccion2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
  }

  img, p {
    grid-column: 1;
    text-align: center;
  }

  .galeria {
    grid-template-columns: repeat(2, 1fr); // Dos columnas en pantallas menores a 576px
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: 
      "item1 item2"
      "item3 item4"
      "item5 item6"
      "item7 item8"
      "item9 item10";
  }
  
  footer {
    align-items: flex-start;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
    flex-direction: column;
    footer div {
      margin-bottom: 15px;
    }
    h3, p, ul {
      text-align: left;
    }
  }
}

@media (max-width: 320px) {
  #sticky {
      position: sticky;
      z-index: 1000;
  }

  header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 10px;
  }

  h1 {
      margin: 0;
      font-size: 1.5rem;
      flex-grow: 1;
      text-align: center;
  }

  .seccion1, .seccion1banner {
    flex-direction: column;
    padding: 10px;
    text-align: center;
    img {
      width: 100%;
      margin-top: 10px;
    }
  }

  .whatsapp-button {
      width: 50px;
      height: 50px;
      bottom: 10px;
      right: 10px;
      img {
        width: 25px;
        height: 25px;
      }
  }

  .image-container {
      width: 100%;
      overflow: hidden;
      .banner2 {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      p {
        width: 100%;
        padding: 5px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
      }
  }

  .serv3 p {
      padding: 5px;
  }

  .servicios {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      justify-items: center;
  }

  .gridserv .grid-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      justify-content: center
  }

  .image-container p {
    font-size: 0.750rem;
    text-align: justify;
  }

  .integrales p {
      max-width: 100%;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.8);
  }

  .galeria {
    grid-template-columns: 1fr; // Una columna en pantallas menores a 320px
    grid-template-rows: repeat(10, 200px);
    grid-template-areas: 
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7"
      "item8"
      "item9"
      "item10";
  }
}
