@media (max-width: 576px) {
  #sticky {
    position: sticky;
    z-index: 1000;
    text-align: center;
    padding: 10px;
  }

  h1 {
    margin: 0;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar-colapse {
    width: 100%;
  }

  .nav-link {
    text-align: center;
  }

  .serv {
    padding: 10px;
    .servicios {
      text-align: center;
      }
    }
  }
 

  .serv3 p {
    padding: 10px;
  }

  .image-container {
    width: 100%;
    overflow: hidden;
    img .banner2 {
      width: 100%;
      height: 50vh;
      object-fit: cover;
    }
    p {
      width: 100%;
      padding: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.4);
      text-align: center;
    }
  }

  .grid-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    list-style: none;
    padding: 0%;
  }

  .seccion2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    padding: 10px;
  }
  img, p {
    grid-column: 1;
    text-align: center;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    div {
      margin-bottom: 15px;
    }
    h3, p, ul {
      text-align: left;
    }
  }



 @media (max-width: 320px) {
    #sticky {
      position: sticky;
      z-index: 1000;
    }
  
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 10px;
    }
  
    h1 {
      margin: 0;
      font-size: 1.5rem;
      flex-grow: 1;
      text-align: center;
    }
  }
