// Media Queries
@media (max-width: 356px) {
    .menu {
        color: $secondary-color;
        display: flex;
        align-items: center
    }
        ul {
          display: block;
          flex-wrap: wrap;
          list-style: none;
        }
    }
    .seccion1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .seccion1 img {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    /* Grid de Servicios */
    .seccion2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }

    .seccion2 img, .seccion2 p {
        grid-column: span 1;
        text-align: center;
    }

    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        text-align: left;
    }

    footer div {
        margin-bottom: 15px;
    }




    
    
